@keyframes blur {
	0% {
		-webkit-filter: blur(30px);
		-moz-filter: blur(30px);
		-o-filter: blur(30px);
		-ms-filter: blur(30px);
	}

	100% {
		-webkit-filter: blur(0);
		-moz-filter: blur(0);
		-o-filter: blur(0);
		-ms-filter: blur(0);
	}
}

.loaded {
	.mod-banner {
		#thevideo {
			opacity: 0.3;
		}

		.bg {
			filter: blur(0);
		}

		.vimeo-wrapper {
			opacity: 0.7;
		}
	}
}

.loaded .mod-banner {
	img {
		opacity: 1;
		transform: translateY(0);
	}
}

.pb-banner {
	overflow: hidden;
	position: relative;
	min-height: calc(100vh - 120px);
	padding: 120px 0;
	.btn {
		margin-bottom: 4px;
	}
		
	h2 {
		font-weight: 400;
	}
	.switchtodesktop {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
		width: 70%;
		min-width: 280px;
		opacity: .5;
		font-size: 15px;
		font-style: italic;
		text-align: center;
	}
}