.progress-and-chapter-select {
	position: fixed;
	top: 100%;
	z-index: -1;
	left: 0;
	right: 0;
	transition: .4s $ease;
	.card {
		border: 0;
		border-radius: 0;
		box-shadow: 0px 2px 4px rgba($brown, .1);
		height: 70px;
	}
	&.hide {
		top: 0;
	}
}
.hoofdstuk {
	position: relative;
	padding: 0;
	overflow: initial;
	transform: translateZ(0px);
	&.recommendation {
		padding: 60px 0;
	}
	.card {
		border: 0;
	}
	.wrap {
		margin-top: -100vh;
		height: 200vh;
		background: #fff;
		z-index: 0;
		position: relative;
		.titel {
			position: -webkit-sticky; /* Safari */
			position: sticky;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			flex-direction: column;
			-webkit-justify-content: center;
			justify-content: center;
			min-height: 100vh;
			margin: 0 auto;
			h2, i {
				color: $pink !important;
			}
			.card {
				border: 0;
			}
		}
	}
}
.content {
	min-height: calc(100vh);
	padding-bottom: 120px;
	position: relative;
	z-index: 1;
	transform: translateZ(0);
	.btn-scrolldown {
		bottom: 30px;
	}
	.card.content {
		border: 0;
		margin-bottom: 80px;
	}
	.aanbeveling,
	.sidelink {
		width: 180px;
		font-size: 16px;
		position: absolute;
		display: none;
	}
	.aanbeveling {
		right: calc(100% + 20px);
	}
	.sidelink {
		left: calc(100% + 20px);
	}
	.uitklap {
		i {
			font-size: 15px;
			color: $brown;
			transition: .3s $ease;
			opacity: .5;
		}
		&:hover {
			i {
				color: $green;
				opacity: 1;
			}
		}
	}
	.card {
		border: 0;
		border-radius: 0;
		background: #eee;
	}
	.collapse {
		&.show {
			display: block;
		}
	}
}

@include media-breakpoint-up(lg) {
	.hoofdstuk.recommendation {
		padding: 120px 0;
	}
	.content {
		.aanbeveling,
		.sidelink {
			display: block;
		}
	}
}