<section id="chapter{{ sectionno }}-{{ item.titel|sanitize }}" class="hoofdstuk">
	<div class="titel d-flex align-items-center">
		{% if loop.last %}{% else %}
			<a class="btn-scrolldown js-scrolldown"><i class="fas fa-chevron-down"></i></a>
		{% endif %}
		<div class="container text-center">
			<div class="row">
				<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
					{% if item.titel %}
						<h2> {{ item.titel }} </h2>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content">
	<a class="btn-scrolldown js-scrolldown"><i class="fas fa-chevron-down"></i></a>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<div class="card bg-white">
					<div class="card-body p-3 p-sm-4 p-md-5">
						{% if item.tekst %}
							{{ item.tekst }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>