.field-wrap .nf-field-element:after {
	display: none;
}

body {
	.nf-form-content {
		padding: 0;
		button, 
		input[type=button], 
		input[type=submit] {
			@extend .btn;
			@extend .btn-primary;
		}
		
		.list-select-wrap .nf-field-element>div, 
		input:not([type=button]), 
		textarea {
			@extend .form-control;
		}
		
		label {
			@extend .form-label;
		} 
	}
	.bg-white, .bg-transparent {
		.nf-form-content {
			.list-select-wrap .nf-field-element>div, 
			input:not([type=button]), 
			textarea {
				background: $greylight;
			}
		}
	}
}

.form-select {
	@extend .btn;
	@extend .btn-primary;
	background-color: #fff;
	padding-right: 50px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url('../img/arrow-black.svg');
	background-size: 14px 14px;
	background-position: right 20px center;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&:hover, &:focus {
		background-repeat: no-repeat;
		background-image: url('../img/arrow-green.svg');
		background-size: 14px 14px;
		background-position: right 20px center;
	}
}

@include media-breakpoint-up(md) {
	.form-select {
		width: auto;
	}
}